* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  background: linear-gradient(to right, #459aff 0%, #6054ff 100%) !important;
  border-radius: 64px;
  height: 50px;
  width: 500px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0px 23px;
  border-radius: 5px;
  transition: all 0.3s ease;
  z-index: 1;
  cursor: pointer;
}

nav a:hover {
  color: #fff;
}

nav a.active {
  color: #02489b;
}

nav span {
  position: absolute;
  top: 2;
  left: 48px;
  width: 95px;
  height: 50%;
  background-color: #fff;
  border-radius: 8px;
  transition: 0.5s;
}

nav .index-1 {
  left: 48px;
}
nav .index-2 {
  left: 205px;
}
nav .index-3 {
  left: 360px;
}
